.header-component {
  padding: 20px;
  text-align: center;
  background-color: white;
}

.header-component ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-component nav {
    display: flex;
    flex-direction: row 2;
    justify-content: space-between;
    align-items: center;
}

.header-component ul li {
    margin: 0 60px;
}

.header-component .logo {
    width: 20vw;
}

.header-component a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.header-component a:hover {
    color: #F4CE14;
}